.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
  }
  .dark-modal .close {
    color: white;
  }
  .light-blue-backdrop {
    background-color: #5cb3fd;
  }

// header {
//     background: #7700FF;
//     .nav-left {
//         a {
//             padding: 1.5em;
//             text-transform: uppercase;
//             font-size: .8em;

//             &:hover {
//                 background: #8E2BFF;
//             }
//         }
//     }
//     .nav-right{
//         justify-self: right;
//     }
// }